<div class="upsert-container">
  <header>
    <h1> {{isEditMode() ? 'Edit' : 'Add'}} expense</h1>
  </header>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput name="title" formControlName="title">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Amount</mat-label>
      <input matInput name="amount" type="number" formControlName="amount">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput name="description" formControlName="description">
    </mat-form-field>

    <div class="form-actions">
      <button matButton="filled" type="submit">Save</button>
      <button matButton="outlined" type="reset">Reset</button>
    </div>
  </form>
</div>
