<form style="display: flex; flex-direction: column; gap: 1rem; padding: 1rem 0;" [formGroup]="loginForm" (ngSubmit)="login()">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="email" name="email" placeholder="hello@example.com" formControlName="email">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput [type]="hidePassword ? 'password' : 'text'" name="password" placeholder="********" formControlName="password">
    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
</form>
