ul {
  list-style-type: none;
  color: #222222;
  margin-top: 45px;
  font-size: 25px;
}

li {
  display: flex;
  align-items: center;
}

li mat-icon {
  margin-right: 8px;
  font-weight: 800;
}

li:hover {
  color: grey;
  cursor: pointer;
}

h2:hover {
  color: grey;
  cursor: pointer;
}
